#images-section {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    border: 1px solid #00000057;
    box-shadow: 3px 3px 6px #0000006b;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  header h1{
    text-align: center;
    font-size:100%;

  }
  main h1{
    text-align: center;
  }

  h3 {
    text-align: center;

  }
  html{
      background-color: rgb(179, 166, 97);
  }
  nav ul{
      text-decoration: none;
    
  }